@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration-2 {
    border-radius: 16px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #c7c4c4;
}

.text-end{
    cursor: pointer !important;
}

.fas.fa-trash {
  color: #000 !important;
 }

/******* Button count *********/
.px-2 {
box-shadow: none !important;
padding-left: none  !important;
padding-right: none  !important;
cursor: pointer;

}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
