body {
  font-family: 'Roboto Condensed', sans-serif;
}

.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}

.left-side-product-box img {
  width: 100%;
}

.right-side-pro-detail span {
  font-size: 15px;
  color: #161616;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #ecf3f3;
}

.right-side-pro-detail .price-pro {
  color: #141414;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #111111;
}

.right-side-pro-detail .tag-section a {
  color: #e9e3e3;
}

/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 14px;
  justify-content: center;
}

a.btn:focus {
  outline: 0;
}

.btn-1 {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin: 0 15px 20px 0;
  min-width: 170px;
  line-height: 26px;
  justify-content: center;
}
.btn-1:hover {
  color: rgb(228, 236, 230) !important;
  background-color: rgb(148, 42, 104) !important;
  border-color: #fff;
}
